<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanjiao.gym.dao.OrderDao">
  <resultMap id="BaseResultMap" type="com.lanjiao.gym.entity.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="order_price" jdbcType="INTEGER" property="orderPrice" />
    <result column="order_date" jdbcType="DATE" property="orderDate" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="order_check" jdbcType="INTEGER" property="orderCheck" />
    <result column="order_free" jdbcType="INTEGER" property="orderFree" />
    <result column="order_remake" jdbcType="VARCHAR" property="orderRemake" />
    <result column="order_faceback" jdbcType="VARCHAR" property="order_Faceback" />
  </resultMap>
  <sql id="Base_Column_List">
     id,order_id,user_id,order_price,order_date,order_status,order_check,
     order_free,order_remake,order_faceback
  </sql>

  <insert id="insertOrder" parameterType="com.lanjiao.gym.entity.Order">
    INSERT  INTO
     orders (order_id,user_id,order_price,order_date,order_status,order_check,
     order_free,order_remake,order_faceback)
     values(
     #{orderId},#{userId},#{orderPrice},#{orderDate},#{orderStatus},
     #{orderCheck},#{orderFree},#{orderRemake},#{orderFaceback})
  </insert>

</mapper>