<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanjiao.gym.dao.ReservationDetailsDao">
  <resultMap id="BaseResultMap" type="com.lanjiao.gym.entity.ReservationDetails">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="reservation_id" jdbcType="VARCHAR" property="reservationId" />
    <result column="subsite_id" jdbcType="VARCHAR" property="subsiteId" />
    <result column="reservation_date" jdbcType="DATE" property="reservationDate" />
    <result column="time_id" jdbcType="VARCHAR" property="timeId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, reservation_id, subsite_id, reservation_date, time_id
  </sql>
  <select id="queryReservationDetailsBySubsiteIdAndReservationDate"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from reservation_details
    where subsite_id = #{subsiteId} and reservation_date = #{reservationDate}
  </select>

</mapper>