<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanjiao.gym.dao.SitesDao">

    <sql id="Base_Column_List">
    id, site_id, site_name
    </sql>
    <sql id="siteAndsonsite">
       su.id suid,subsite_id,su.site_id susiteId ,sport_id,
       subsite_description,subsite_name,subsite_price,
       si.id siid,si.site_id sisite_id,site_name
    </sql>

    <resultMap id="SubsiteAndSiteMap" type="com.lanjiao.gym.entity.Site">
        <id column="siid" jdbcType="INTEGER" property="id"/>
        <result column="sisite_id" jdbcType="VARCHAR" property="siteId"/>
        <result column="site_name" jdbcType="VARCHAR" property="siteName"/>
        <collection property="subsiteList" ofType="com.lanjiao.gym.entity.Subsite">
            <id column="suid" jdbcType="INTEGER" property="id"/>
            <result column="subsite_id" jdbcType="VARCHAR" property="subsiteId"/>
            <result column="susiteId" jdbcType="VARCHAR" property="siteId"/>
            <result column="sport_id" jdbcType="VARCHAR" property="sportId"/>
            <result column="subsite_description" jdbcType="VARCHAR" property="subsiteDescription"/>
            <result column="subsite_name" jdbcType="VARCHAR" property="subsiteName"/>
            <result column="subsite_price" jdbcType="DOUBLE" property="subsitePrice"/>
        </collection>
    </resultMap>

    <resultMap id="BaseResultMap" type="com.lanjiao.gym.entity.Site">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="site_id" jdbcType="VARCHAR" property="siteId"/>
        <result column="site_name" jdbcType="VARCHAR" property="siteName"/>
    </resultMap>

    <select id="querySitesBySport" parameterType="String" resultMap="BaseResultMap">
    select DISTINCT(si.id),si.site_id,site_name from subsite su,site si
    where su.sport_id= #{sportId} AND si.site_id=su.site_id
    </select>

    <select id="querySitesBySportId" parameterType="String" resultMap="SubsiteAndSiteMap">
        select
        <include refid="siteAndsonsite"/>
        from subsite su,site si
        WHERE su.sport_id=#{sportId} AND si.site_id=su.site_id
    </select>



</mapper>