<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanjiao.gym.dao.SportsMapper">
  <resultMap id="BaseResultMap" type="com.lanjiao.gym.entity.Sports">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sport_id" jdbcType="VARCHAR" property="sportId" />
    <result column="sport_name" jdbcType="VARCHAR" property="sportName" />
  </resultMap>
  <sql id="Base_Column_List">
       id, sport_id, sport_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sports
  </select>


</mapper>